* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal, .horizontal-btn-group {
    display: flex;
}

.horizontal-btn-group {
    width: 50vw;
}

.navigationBtn {
    flex: 1;
}

.choice {
    height: 5vh;
}

.wrong {
    background-color: rgb(255, 104, 104);
}

.correct {
    background-color: rgb(104, 255, 104);
}

#button-group {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#modal {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

#modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#flashcard-clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
}

#flashcard-image, #quiz-image {
    position: relative;
    z-index: 1;
    max-width: 50vw;
    max-height: 50vh;
}

#quiz-image {
    border: 1px solid black;
}

#flashcard-answer {
    pointer-events: none;
    z-index: 0;
    opacity: 0;
}

#flashcard-answer.show {
    opacity: 1;
    transition: opacity 1s;
}